{
  "parser": "babel-eslint",

  "env": {
    "jest": true,
    "browser": true,
    "jasmine": true
  },

  "plugins": ["prettier"],

  "extends": ["eslint:recommended", "plugin:react/recommended", "standard", "prettier"],

  "rules": {
    "comma-dangle": ["error", "only-multiline"],
    "prettier/prettier": [
      "error",
      {
        "printWidth": 100,
        "semi": false,
        "singleQuote": true,
        "trailingComma": "all"
      }
    ]
  }
}
